@import url(Gstyle.css);
@import url(class.css);

/* ============= header-style ============= */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.3rem;
    padding: 15px 30px;
}
header>a{
    margin-right: 5rem;

}
header>a>img {
    width: 9rem;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header>nav>a {
    /* margin-right: 2rem; */
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color);
    position: relative;
}

header>nav>a::after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: var(--color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width .4s;
    cursor: pointer;
}

header>nav>a:hover::after {
    width: 100%;
}

header>nav>div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 15rem;
}

header>nav>div>a {
    color: var(--color);
}

header>nav>div>a>i {
    font-size: 1.5rem;
}

header>nav>div>a:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--fontStyleNumber);
}

header>nav>div>a:nth-child(2) {
    display: grid;
    place-content: center;
    padding: 9px;
    border-radius: 50%;
    border: 1.5px solid var(--color);
}

header>nav>div>a:nth-child(2)>i {
    font-size: 1.08rem;
}
header>nav>div>a:nth-child(3) {
    display: grid;
    place-content: center;
    padding: 8px 33px;
    border-radius: 23px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid var(--color);
    transition: all .4s;
}

header>nav>div>a:nth-child(3):hover {
    background-color: var(--color);
    color: #fff;
}
/* ================ home section ============== */
section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container-home{
    display: flex;
    width: 58%;
    height: auto;
    margin: 0 auto;
    border: 1px solid red;
}
/*  ========= first child in [  .container-home  > div ] ============ */
.container-home > div:nth-child(1)
{
    padding: 30px;
    border: 1px solid #050;
}
.container-home > div:nth-child(1) > p{
    color: var(--color);
}
.container-home > div:nth-child(1) > h1{
    font-size: 3.5rem;
    color: var(--color);
}
.container-home > div:nth-child(1) > h1 > span{
    color: #ffc400;
}
.container-home > div:nth-child(1)
{
    padding: 30px;
    border: 1px solid #050;
    /* background-color: aquamarine; */
}
.container-home > div:nth-child(1) > form
{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 15px;
    border: .5px solid #868686be;
    border-radius: 8px;
    margin-top: 4rem;
}
.container-home > div:nth-child(1) > form > div:nth-child(1)
{
    margin-left: 10px;
}
.p-item-container 
{ 
    font-size: 13px;
    color: #7e7e7ec3;
    margin-bottom: 9px;
}
.container-home > div:nth-child(1) > form > div:nth-child(1) div > input
{ 
    font-size: 15px;
    border: none;
    outline: none;
    width: 15rem;
    padding: 5px;
}
.container-home > div:nth-child(1) > form > div:nth-child(1) > div{
    display: flex;
    align-items: center;
    gap: 3px;
}
.container-home > div:nth-child(1) > form > div:nth-child(1) > div > input::placeholder
{ 
    font-size: 15px;
    color: #000;
}
.container-home > div:nth-child(1) > form > div:nth-child(1) div > i
{ 
   font-size: 24px;
    color: #000000e3;
}
.item-container-home{
    display: inline-block;
    width: 1.5px;
    height: 51px;
    margin-top: 10px;
    background-color: #ebebeb;
    border-radius: 20px;
}
/* ================ */
.container-home > div:nth-child(1) > form > div:nth-of-type(2){
    position: relative;
}
.container-home > div:nth-child(1) > form > div:nth-of-type(2) > div > span {
    display: inline-flex;
    cursor: pointer;
    width: 9.5rem;
    justify-content: space-between;
}
.container-home > div:nth-child(1) > form > div:nth-of-type(2) > div > span > span > i{
    display: inline-block;
    font-size: 1.5rem;
    /* animation: keyframes-return .5s; */
}
/* == item option 1  style in home section */
.container-home > div:nth-child(1) > form > div:nth-of-type(2) > ul{
    display: none;
}
.active-select-1{
    display: flex !important;
    position: absolute;
    width: 19rem;
    border: 1px solid #00000091;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    transition: all 2s ease-out;
}
.active-select-1 >li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.active-select-1 >li:hover
{
    background-color: #edededb5;
}
.checkBox{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    display: grid;
    place-content: center;
    transition: all .8s;
}
.checkBox > div{
    display: none;
} 
.this-option > .checkBox > div{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    transition: all .8s;
}
/* == item option 2  style in home section */
.container-home > div:nth-child(1) > form > div:nth-of-type(3) > div
{ 
    display: flex;
    align-items: center;
    width: 9.5rem;
    justify-content: space-between;
    cursor: pointer;
}
.container-home > div:nth-child(1) > form > div:nth-of-type(3) > div > i{
    font-size: 1.5rem;
}
.container-home > div:nth-child(1) > form > div:nth-of-type(3) > ul{
    display: none;
}
.container-home > div:nth-child(1) > form > div:nth-of-type(3){
    position: relative;
}
.active-select-2{
    display: flex !important;
    position: absolute;
    width: auto;
    border: 1px solid #00000091;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    transition: all 2s ease-out; 
}
.active-select-2 > li > i{
    display: none;
}
.this-option > i{
    display: block !important;
}
.active-select-2 > li{
    display: flex;
    align-items: center;
    padding: 8px 11px;
    border-radius: 10px;
    cursor: pointer;
    width: 17rem;
    justify-content: space-between;
}
.active-select-2 > li:hover{
    background-color: #edededb5;
}
/* ==== btn filter and serch in home section ====*/
.container-home > div:nth-child(1) > form > button{
    display: grid;
    place-content: center;
    padding: 15px 31px;
    font-size: 1rem;
    border-radius: 10px;
}
.container-home > div:nth-child(1) > form > button:nth-of-type(1){
        display: flex;
        gap: 10px;
        border: 1px solid #bebebee0;
        margin-left: 2rem;
}
.container-home > div:nth-child(1) > form > button:nth-of-type(2){
       background-color: var(--color);
       color: #fff;
}
/* last div in .container-home > div:nth-child(1)  use style  =======*/
.container-home > div:nth-child(1) > div{
    display: flex;
    align-items: center;
    color: var(--color);
    margin-top: 4rem;
    gap: 2rem;
}
.container-home > div:nth-child(1) > div > a{
    padding: 6px 16px;
    border-radius: 30px;
    font-size: 13px;
    background-color: #fff;
    border: .7px solid #bcbcbc;
}
.container-home > div:nth-child(2)
{
    position: relative;
}
/*  style div:nth-child(1) in  div:nth-child(2)*/

.container-home > div:nth-child(2) > div:nth-child(1)
{
    display: flex;
    align-items: center;
    position: absolute;
    left: -50px;
    border: 1px solid red;
    
}
.container-home > div:nth-child(2) > div:nth-child(1) > i
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    font-size: 1.4rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color);
}


/* =============== style child 2 in  container-home */

/* ======================== media for responsev ============== */
@media screen and (max-width: 1452px)
{
    header>nav>div>a:nth-child(1){
        display: none;
    }
    header>nav>div {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 1075px) {
    header>nav>div {
        margin-left: 3rem;
    }
    header>nav {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }
}

@media screen and (max-width: 990px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    .btn-menu {
        position: relative;
        width: 40px;
        height: 29px;
        background: transparent;
        cursor: pointer;
    }
    
    .btn-menu span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background:var(--color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .btn-menu span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }
    .btn-menu span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }
    .btn-menu span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
    .btn-menu span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }
    .btn-menu-active span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }
    .btn-menu-active span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }
    .btn-menu-active span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: -25rem;
        width: 100%;
        height: auto;
        align-items: flex-start;
        padding: 14px 2px 19px 28px;
        border-bottom-left-radius: 23px;
        border-bottom-right-radius: 23px;
        transition: all 1s;
        z-index: -1;
    }
    .navbar > div {
        display: flex;
        margin: 0;
        align-items: center;
        margin-top: 18px;
    }
    header>nav>div>a:nth-child(3){
        padding: 8px 83px;
        margin-left: 20px;
    }
}