@import url(Gstyle.css);
@import url(class.css);

/* ============= header-style ============= */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.3rem;
    padding: 15px 30px;
}

header>a {
    margin-right: 14rem;

}

header>a>img {
    width: 9rem;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header>nav>a {
    /* margin-right: 2rem; */
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color);
    position: relative;
}

header>nav>a::after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: var(--color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width .4s;
    cursor: pointer;
}

header>nav>a:hover::after {
    width: 100%;
}

header>nav>div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 15rem;
}

header>nav>div>a {
    color: var(--color);
}

header>nav>div>a>i {
    font-size: 1.5rem;
}

header>nav>div>a:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--fontStyleNumber);
}

header>nav>div>a:nth-child(2) {
    display: grid;
    place-content: center;
    padding: 9px;
    border-radius: 50%;
    border: 1.5px solid var(--color);
}

header>nav>div>a:nth-child(2)>i {
    font-size: 1.08rem;
}

header>nav>div>a:nth-child(3) {
    display: grid;
    place-content: center;
    padding: 8px 33px;
    border-radius: 23px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid var(--color);
    transition: all .4s;
}

header>nav>div>a:nth-child(3):hover {
    background-color: var(--color);
    color: #fff;
}



/* ============= section home ============= */
section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.container-home {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 4rem;
    margin-left: 20.5%;
    position: relative;
}

/* ====== style first side in home container ======*/
.first-row-home-container {
    /* border: 1px solid red; */
}

.first-row-home-container>p {
    color: var(--color);
}

.first-row-home-container>h1 {
    font-size: 3.5rem;
    max-width: 45.2rem;
    color: var(--color);
    mix-blend-mode: difference;
}

.first-row-home-container>h1>span {
    color: #ffc400;
}

.filter_container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 15px;
    border: .5px solid #868686be;
    border-radius: 8px;
    margin-top: 4rem;
    background-color: #fff;
}

.filter_container>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 25px;
}

.p-item-container {
    font-size: 13px;
    color: #7e7e7ec3;
    margin-bottom: 9px;
}

/* ========== item == 1 ======= */

.filter-container-item-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.filter-container-item-1>div {
    display: flex;
    align-items: center;
}

.filter-container-item-1>div>input {
    font-size: 15px;
    width: 15rem;
}

.filter-container-item-1>div>i {
    font-size: 24px;
    color: #000000e3;
}

.filter-container-item-1>div>input::placeholder {
    font-size: 15px;
    color: #000;
}

/* ========== item == 2 ======= */

.filter-container-item-2 {
    position: relative;
}

.filter-container-item-2>div {
    display: inline-flex;
    cursor: pointer;
    width: 10.5rem;
    justify-content: space-between;
}

.filter-container-item-2>div>span>i {
    display: inline-block;
    font-size: 1.5rem;
}

.filter-container-item-2>ul {
    display: none;
}

/* ========== item == 3 ======= */
.filter-container-item-3 {
    position: relative;
}

.filter-container-item-3>div {
    display: flex;
    align-items: center;
    gap: 5.5rem;
    justify-content: space-between;
    cursor: pointer;
}

.filter-container-item-3>div>i {
    font-size: 1.5rem;
}

.filter-container-item-3>ul {
    display: none;
}

/* btn-container-item in flter container in home section */
.btn-container-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-container-item>button {
    display: grid;
    place-content: center;
    padding: 15px 31px;
    font-size: 1rem;
    border-radius: 10px;
}

.btn-container-item>button:nth-child(1) {
    display: flex;
    gap: 10px;
    border: 1px solid #bebebee0;
    margin-left: 2rem;
}

.btn-container-item>button:nth-child(2) {
    background-color: var(--color);
    color: #fff;
}

/*  === Popular-Search  in container in home section */
.Popular-Search-container-1 {
    display: flex;
    align-items: center;
    color: var(--color);
    margin-top: 4rem;
    max-width: 35rem;
    gap: 2rem;
}

.Popular-Search-container-1>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Popular-Search-container-1>div>a {
    display: grid;
    place-content: center;
    padding: 6px 16px;
    border-radius: 30px;
    font-size: 13px;
    background-color: #fff;
    border: .7px solid #bcbcbc;
    /* margin-left: 10px; */
}


/*  ============================== secend side in home container */
.secend-row-home-container {
    position: absolute;
    right: -30%;
    bottom: -12rem;
    z-index: -1;
    /* border: 1px solid green; */
}

/* ==============item-1  in secend row ============*/
.secend-row-item-1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: -3%;
    top: 2rem;
    gap: 5rem;
    border-radius: 31px;
    padding: 3px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: -53px -2px 124px 8px rgba(0, 0, 0, 0.17);
}

.secend-row-item-1>input {
    padding: 15px 22px;
    font-size: 1.1rem;
    color: #000;
}

.secend-row-item-1>i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    font-size: 1.4rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color);
    cursor: pointer;
}

/*  ========== img in secend-row-item-2 ===========*/
.secend-row-item-2 {
    display: flex;
    gap: 10px;
    width: 35rem;
    z-index: -1;
}

.item-grid-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-grid-1>div:nth-child(1) {
    border-top-left-radius: 13rem;
    border-bottom-left-radius: 2.5rem;
    overflow: hidden;
}

.item-grid-1>div:nth-child(2) {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
}

.item-grid-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-grid-2>div:nth-child(1) {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
}

.item-grid-2>div:nth-child(2) {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 13rem;
    overflow: hidden;
}

/*  ========== secend-row-item-3 ===========*/
.secend-row-item-3 {
    position: absolute;
    bottom: -2rem;
    right: -16px;
    padding: 26px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 42px 34px 48px -18px rgba(0, 0, 0, 0.17);
}

.secend-row-item-3>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secend-row-item-3>div:nth-child(1)>div {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    outline: 5px solid #fff;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}

.secend-row-item-3>div:nth-child(1)>div>img {
    width: 36px;
}

.secend-row-item-3>div:nth-child(2)>span {
    color: #000;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    margin-right: 5px;
}




/* <<================ section  find-city =========>>*/

section.find-city {
    width: 100%;
    height: auto;
    margin-top: 20rem;
    /* border: 1px solid #aaff00; */
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.sec-container-2 {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 15px;
}

/* ========= first side in sec-container-2 ======== */
.sec-container-2-first-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sec-container-2-first-side>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sec-container-2-first-side>div:nth-child(1)>h1 {
    font-size: 2.5em;
    font-style: italic;
    max-width: 34.67rem;
}

.sec-container-2-first-side>div:nth-child(2)>p {
    color: var(--color);
    font-size: 1.1rem;
    max-width: 39.2rem;
}

.sec-container-2-first-side>div:nth-child(2)>a {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.sec-container-2-first-side>div:nth-child(2)>a:hover,
.sec-container-2-first-side>div:nth-child(2)>a:hover>span {
    color: #f2bb08;
}

.sec-container-2-first-side>div:nth-child(2)>a>span {
    color: #000;
    font-size: 1.3rem;
}

/* ========= secend side in sec-container-2 ======== */
.sec-container-2-secend-side {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
}

.card-item-sec-2 {
    display: flex;
    padding: 5px 4rem 5px 7px;
    gap: 20px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    transition: all .8s;
}

.card-item-sec-2:hover {
    box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-item-sec-2:hover>div:nth-child(1)>img {
    scale: 1.4;
}

.card-item-sec-2>div:nth-child(1) {
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.card-item-sec-2>div>img {
    width: 4rem;
    object-fit: cover;
    transition: scale 4s;
}

.card-item-sec-2>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 6.5px;
}

.card-item-sec-2>div:nth-child(2)>a {
    font-size: 1.1rem;
    color: #000000e5;
    font-weight: 700;
}

.card-item-sec-2>div:nth-child(2)>a:hover {
    color: #f2bb08;
}

.card-item-sec-2>div:nth-child(2)>span {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--fontStyleNumber);
}






/* << =============== section Featured-Properties ================== >> */
section.featured-Properties
{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    /* border: 1px solid #aaff00; */
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}
.sec-3-properties-container
{
    width: 60%;
    /* border: 1px solid red; */
    padding: 20px;
}
/* ===========first side in section peatured-Properties =========== */
.sec-3-properties-frist-side > h1
{
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
    max-width: 22.5rem;
}
.sec-3-properties-frist-side > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 4rem;
    flex-wrap: wrap;
}
.sec-3-properties-frist-side > div > p{
    max-width: 30rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color);
}
.sec-3-properties-frist-side > div > div
{
    padding: 8px 9px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 5rem;
    background-color: #f0f0f07d;

}
.sec-3-properties-frist-side > div > div >button{
    padding: 9px 23px;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
}
.active-btn-sec-3{
    background-color: #fff !important;
}
/* ============ secend side in section peatured-Properties ==============*/
.sec-3-properties-secend-side{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid green;
    margin-top: 2rem;
}
/* ============ card-section-3 ==============*/
.card-section-3{
    padding: 10px;
    border: 1px solid red;
    width: 32.4%;
    height: auto;
}
/*  ========= .card-section-3 first child =========== */
.card-section-3 > div:nth-child(1){
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.card-section-3 > div:nth-child(1) > div:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
}
.card-section-3 > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a{
    padding: 7px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 14px;
    margin-right: 7px;
    font-weight: 500;
}
.card-section-3 > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a:nth-child(1)
{
    background-color: rgb(10, 62, 10);
    color: #fff;
}
.card-section-3 > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a:nth-child(2)
{
    background-color: #e7c873;
}
.card-section-3 > div:nth-child(1) > div:nth-child(2) > div:nth-child(2)
{
    padding: 6px 8px;
    background-color: #00000059;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.dir-btn-slider{
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 28px;
}
.dir-btn-slider > button > i
{
    font-size: 1.3rem;
    color: #fff;
}
.many-btn{
    position: absolute;
    bottom: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.many-btn > button > i{
    font-size: 8px;
    color: #ffffff7b;
}
.btn-slider-pos > i
{
    color: #fff !important;
}
/*  ========= .card-section-3 secend child =========== */

/* ======================== media for responsev ============== */

@media screen and (max-width: 1887px) {
    .container-home {
        margin-left: 15.5%;
    }
}
@media screen and (max-width: 1500px) {
    .sec-container-2 {
        width: 100%;
        height: auto;
        gap: 5rem;
        padding: 21px;
    }
    .sec-3-properties-container
    {
        width: 100%;
    }
}

@media screen and (max-width: 1655px) {
    .container-home {
        margin-left: 6.5%;
    }
}

@media screen and (max-width: 1480px) {
    .container-home {
        margin-left: 2.5%;
    }
}

@media screen and (max-width: 1425px) {
    .secend-row-home-container {
        right: -21%;
    }
}

@media screen and (max-width: 1325px) {
    .secend-row-item-3 {
        right: 0px;
    }
}

@media screen and (max-width: 1305px) {
    .secend-row-home-container {
        right: -15%;
    }
}

@media screen and (max-width: 1236px) {
    .secend-row-home-container {
        right: -8%;
    }

    .container-home {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1452px) {
    header>nav>div>a:nth-child(1) {
        display: none;
    }

    header>nav>div {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 1166px) {
    .secend-row-home-container {
        right: 0;
    }
}

@media screen and (max-width: 1062px) {
    .container-home {
        width: 100%;
        height: 51rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .secend-row-home-container {
        position: absolute;
        left: 0;
        bottom: -100%;
        right: 0;
        width: 100%;
        height: auto;
        display: flex;
        gap: 20px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .item-container-home {
        display: none;
    }

    .section-home {
        margin-top: 0;
    }

    .filter_container>div:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .first-row-home-container {
        width: 99%;
    }

    .filter_container {
        gap: 15px;
    }

    .filter-container-item-1 {
        display: flex;
        width: 100%;
    }

    .filter-container-item-1>div {
        justify-content: space-between;
    }

    .filter-container-item-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
    }

    .filter-container-item-2>div {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .filter-container-item-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
    }

    .filter-container-item-3>div {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .first-row-home-container {
        width: 100%;
    }

    .secend-row-item-1 {
        display: flex;
        margin-left: 1rem;
        justify-content: space-between;
    }

    .secend-row-item-2 {
        position: relative;
        width: 98%;
    }
}

@media screen and (max-width: 1075px) {
    header>nav>div {
        margin-left: 3rem;
    }

    header>nav {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    section.find-city {
        margin-top: 55rem;
    }
}


@media screen and (max-width: 990px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .btn-menu {
        position: relative;
        width: 40px;
        height: 29px;
        background: transparent;
        cursor: pointer;
    }

    .btn-menu span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .btn-menu span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .btn-menu span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .btn-menu span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .btn-menu span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    .btn-menu-active span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }

    .btn-menu-active span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    .btn-menu-active span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: -25rem;
        width: 100%;
        height: auto;
        align-items: flex-start;
        padding: 14px 2px 19px 28px;
        border-bottom-left-radius: 23px;
        border-bottom-right-radius: 23px;
        transition: all 1s;
        z-index: -1;
    }

    .navbar>div {
        display: flex;
        margin: 0;
        align-items: center;
        margin-top: 18px;
    }

    header>nav>div>a:nth-child(3) {
        padding: 8px 83px;
        margin-left: 20px;
    }

    .secend-row-home-container {
        bottom: -46rem;
    }
}

@media screen and (max-width: 783px) {
    .sec-container-2 {
        width: 100%;
        height: auto;
        padding: 18px;
    }
}

@media screen and (max-width: 775px) {
    .secend-row-home-container {
        bottom: -39rem;
    }
}

@media screen and (max-width: 703px) {
    .filter_container {
        gap: 24px;
        flex-direction: column;
    }
    .card-item-sec-2
    {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .Popular-Search-container-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .Popular-Search-container-1>div {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .secend-row-item-2
    {
        width: 31rem;
    } */
}

@media screen and (max-width: 550px) {

    .filter_container,
    .Popular-Search-container-1 {
        margin-top: 3rem;
    }

    .secend-row-item-1 {
        display: flex;
        margin-left: 1rem;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 2rem;
        padding: 5px;
        border-radius: 35px;
        width: 97%;
    }

    .secend-row-item-3 {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        box-shadow: 8px 8px 0px 3px rgba(216, 216, 216, 1),
            -10px -8px 0px 3px rgba(216, 216, 216, 1);
        ;
    }

    .item-grid-2>div:nth-child(2) {
        border-bottom-right-radius: 4rem;
    }

    .item-grid-1>div:nth-child(1) {
        border-top-left-radius: 3rem;
    }

    .secend-row-home-container {
        bottom: -49rem;
    }
}

@media screen and (max-width: 512px) {
    .first-row-home-container>h1 {
        font-size: 2.5rem;
    }

    .secend-row-home-container {
        bottom: -43rem;
    }
}

@media screen and (max-width: 426px) {
    .secend-row-item-1 {
        display: flex;
        margin-left: 18px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 2rem;
        padding: 5px;
        border-radius: 38px;
        width: 100%;
    }

    .secend-row-item-1>input {
        font-size: 11px;
        padding-left: 3px;
    }

    .secend-row-item-1>input {
        font-size: 12px;
        padding-left: 3px;
    }

    .secend-row-item-1>i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--color);
        cursor: pointer;
    }

}